h1 {
    color: black;
        
}

body {
    background-color: white;
}

p {
    color: black;
}

.footer{
    background-color: chocolate;
    height: 30px;
}
.header{
    background-color: chocolate;
}
.graph{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 1200px;
}
.news{
    padding: 0px;
    margin-bottom: 0px;
}